@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@import url("https://fonts.googleapis.com/css2?family=Rosario&display=swap");

html {
  font-family: "Rosario", sans-serif;
}
